.btn-icon{
    height: 70px;
    width: 390px;
}
.icon-button{
   background: rgba(38, 50, 56, 0.5);
}

.button-icon{
    display: inline;
}

.btn-link{
    &:hover{
        text-decoration: none;
    }
}