.product-type-price{
    padding: 0;
    padding-left: 15px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    mix-blend-mode: normal;
}
.product-type-price-value{
    margin-left: 5px;
    font-weight: bold;
    font-size: 25px;
    line-height: 44px;
    letter-spacing: -0.015em;
    color: #407BFF;
    mix-blend-mode: normal;
}