@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

a{
    &:hover {
        text-decoration: none;
    }
}